body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    height: 480px;
    border-width: 1px;
    border-style: solid;
    border-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #f7941f;
    flex: 1 1 auto;
}

.container div.hovering {
    background-color: #d3d3d3;
}

.container div.hovered {
    background-color: #8d8d8d;
}